<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>System Info</title>    
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">        
        <img src="/static/images/logo.png" alt="System Image">
        
        <h1>App Info</h1>
        
        <div class="info-item cli-section">
            <span class="label"></span> {{ date_time }}
        </div>
        <div class="info-item">
            <span class="label">id:</span> {{ container.hostname }}
        </div>
        <div class="info-item cli-section" style="margin-top: 10px; background-color: #eef2ff;">
            private ip: {{ container.private_ip }}
            <div style="font-size: 0.85rem; color: #777; margin-top: 4px;">
                os: {{ container.os_system + " " + container.os_release }}  cpu: {{ container.cpu_count }}
            </div>
            <div style="font-size: 0.85rem; color: #777; margin-top: 4px;">
                python version: {{ container.python_version }}
            </div>
        </div>
        
        <hr class="divider">

        <div class="info-item cli-section">
            <span class="label">remote ip:</span> {{ client_ip }}
        </div>
    </div>
</body>
</html>   